



.MuiCardActions-root{
    margin-left: auto !important;
}
.contactGrid>.MuiCardContent-root>.MuiCardActions-root{
    margin: 0px !important;
}

.MuiCardActions-root>.MuiIconButton-root{
    padding:0px !important;
}
.MuiIconButton-label>.MuiSvgIcon-root{
    font-size: 2rem !important;
}
.MuiSvgIcon-root{
    font-size: 25px !important;
}
.carousel{
    width: 100%;
    height:20%;
}
.image-slider{
    margin: 5px 15px;
}

