.dataGrid{
    display: flex;
    height: 300px;
    padding: 20px;
    margin-top: 30px;

}

.contactGrid{
    width: 30%;
    padding: 30px;
    margin: 0px 10px 10px 20px;
}

.priceGrid{
    width: 70%;
    padding: 30px;
    margin: 0px 10px 10px 10px;
}
.breadcrumb{
    height: 35px;
    padding: 10px;
   
}
.address{
   
    height: 45px;
    display: flex;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: large;
}
.carousel{
    height: 100px;
}

.MuiCardActions-root{
    margin-left: auto !important;
}
.contactGrid>.MuiCardContent-root>.MuiCardActions-root{
    margin: 0px !important;
}

.MuiCardActions-root>.MuiIconButton-root{
    padding:0px !important;
}
.MuiIconButton-label>.MuiSvgIcon-root{
    font-size: 2rem !important;
}
.MuiSvgIcon-root{
    font-size: 25px !important;
}
.carousel{
    width: 100%;
    height:20%;
}
.image-slider{
    margin: 5px 15px;
}