.App {
  text-align: center;
}



.header-2{
  width: 100%;
  background-color: red;
  height:80px;
  display: flex;
  
}

.MuiGrid-root .MuiGrid-grid-sm-12 {
height: 50px !important;
width: 80% !important;
}

 .MuiIconButton-root .MuiAutocomplete-popupIndicator{
   display:none !important;
 }

 .MuiAutocomplete-root .MuiAutocomplete-hasClearIcon .MuiAutocomplete-hasPopupIcon{
  width: 250px !important;
 }

.MuiInputBase-input .MuiInput-input{
  font-size:12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
